*.cm?
*.o
altaz_model
model.dat
pairing.sh
radec_quat
_build/
norm/
calibrated/
tempdir/
solved_verification/
star_detection_results/
comparison_results/
archive.shar.txt
altaz_errors.csv
blink.sh
plot.py
